$font-size = 14px
$white = #fff
$black = #262626
$gray = rgba(38, 38, 38, .4)
$green = #68c52a
/* Media Query Breakpoints */
$lg = 1200px
$md = 992px
$sm = 768px
$xs = 767px

media-lg()
	@media screen and (max-width: $lg)
		{block}

media-md()
	@media screen and (max-width: $md)
		{block}

media-sm()
	@media screen and (max-width: $sm)
		{block}

media-xs()
	@media screen and (max-width: $xs)
		{block}

// +media-lg()
// 	body
// 		background: $green
